<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <!--[if lt IE 10]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    </head>
        <body class="body body--theme">
            <div class="wrapper wrapper--theme">
                <header class="header">
                    <div class="header__title header__title--theme-blue">Справочник "Связь дирекции/Дивизиона и Котрагентов"</div>
                    <div class="header__search-form"></div>
                    <div class="header__add-record-form"></div>

                </header>

                <main class="main main--theme">

                </main>
            </div><!--end of wrapper-->
    </body>
</html>
