.button{
  position: relative;
  cursor: pointer;

  &--basic{
      border: 1px solid $interface-color--secondary-dark;
      background-image: linear-gradient($bgc__button--gr-top, $bgc__button--gr-bottom);
      border-radius: 3px;
  }
}