.icon{
    &--search::after{
        content: '';
        position: absolute;
        display: block;
        height: 16px;
        width: 16px;
        background-image: url(../../../assets/icons/search.svg);
        background-size: 16px;
        background-repeat: no-repeat;
        margin-left: 0.7em;
    }

}