// background colors
$bgc--primary: rgba(255, 255, 255, 1);//#ffffff
$bgc__form-header: rgba(0, 113, 193, 1);//заголовок формы
$bgc__table-header: rgba(218, 238, 245, 1);//звголовок таблицы
$bgc__lang-switcher--primary: rgba(255, 255, 255, 1);//кнопка переключателя языков
$bgc__lang-switcher--active: rgba(230, 228, 231, 1);//активная кнопка перелючателя
$bgc__button--gr-top: rgba(242, 242, 242, 1); //базовая кнопка верх
$bgc__button--gr-bottom: rgba(231, 231, 231, 1); //базовая кнопка низ

// interface colors
$interface-color--secondary-light: rgba(210, 210, 210, 1); //линия светлая
$interface-color--secondary-dark: rgba(65, 65, 65, 1); //линия темная

// text colors
$text-color__form-header--light: rgba(255, 255, 255, 1);//заголовок формы
$text-color--primary-dark: rgba(0, 0, 0, 1);//базовый цвет текста
$text-color--secondary-error: #ce473b;//цвет ошибки
$text-color--lang-sw: rgba(133,133,133,1);
$text-color--lang-sw--active: rgba(76,76,76,1);

$contragent-column-width: 395px;
$relation-column-width: 15%;
$direction-column-width: 23%;
$date-column-width: 14%;
$user-column-width: 14%;
$button-column-width: 18px;