@import "main-theme.scss";
@import "data-tabble/data-tabble.scss";
.main{
    height: 380px;
    width: 100%;
    border: 1px solid $interface-color--secondary-light;
    flex-grow: 2;
    padding: 0.9em 0.3em 3em 0.9em;
    box-sizing: border-box;
    padding-top: 48px;
    position: relative;

    &__inner{

        width: 100%;
        box-sizing: border-box;
        background-color: $bgc--primary;
    }
    &__wrapper{
        width: 100%;
        position: relative;
    }
}