@import "main-theme.scss";
@import "data-tabble/data-tabble.scss";
.main{
    height: 380px;
    width: 100%;
    border: 1px solid $interface-color--secondary-light;
    flex-grow: 2;
    overflow-y: scroll;
    padding: 1em;
    box-sizing: border-box;
}