@import "main-theme.scss";
@import "data-tabble/data-tabble.scss";
.main{
    height: 380px;
    width: 100%;
    border: 1px solid $interface-color--secondary-light;
    flex-grow: 2;
    padding: 0.9em 0.3em 3em 0.9em;
    box-sizing: border-box;

    &__inner{

        height: 100%;
        width: 100%;
        background-color: $bgc--primary;
        padding-top: 15px;
    }
}