.type-relation{
    flex-basis: 210px;
    padding: 0.2em 0.8em;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;

    &__title{
        margin: 0;
        padding: 0.1em 0.1em 0.4em 0.5em;
        font-size: 1.1em;
        letter-spacing: -0.1px;
    }
}