.data-tabble{
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;

    &__header{
        width: 100%;
    }
    &__header-row{

        th{
            height: 0;
            line-height: 0;
            margin: 0;
            padding-top: 0;
            padding-bottom: 0;
            color: transparent;
            border: none;
            white-space: nowrap;
        }
    }
    &__block{
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
        top: 0;
        position: absolute;
        color: $text-color--primary-dark;
        background-color: $bgc__table-header;
        padding: 10px;
        margin-left: -10px;
        line-height: normal;
        width: 100%;
        z-index: 2;
        text-align: left;
        font-weight: bold;

        &--no-left-border{
            border-left: none;
        }
        &--no-bottom-border{
            border-bottom: none;
        }
        &--smaller-margin{
            margin-left: -12px;
        }
        &--small-margin{
            margin-left: -11px;
        }
        &--bigger-margin{
            margin-left: -10px;
        }


    }

    &__cell{
        text-align: left;
        padding:  0 10px;
        border-right: 1px solid #000;
        &:last-child{
            border-right: none;
        }

        &--contragent-width{
            width: $contragent-column-width;
           //width: 544px;

        }
        &--relation-width{
            width: $relation-column-width;
            //width: 206px;
        }
        &--direction-width{
            width: $direction-column-width;
            //width: 266px;
        }
        &--date-width{
            width: $date-column-width;
            //width: 129px;
        }
        &--user-width{
            width: $user-column-width;
            //width: 108px;
        }
        &--button-width{
            width: $button-column-width;
            //width: 30px;
        }
    }

    &__body{
        overflow-y: scroll;
        overflow-x: hidden;
        //display: table;
        height: 200px;
        position: relative;
    }
    &__body-row{
        border-bottom: 1px solid #000;
        

    }
}