.contragent-search-form{
    flex-basis: 610px;


    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;

    &__title{
        margin: 0;
        padding: 1em 0.1em;
        font-size: 1.1em;
        letter-spacing: -0.1px;
    }
    &__input-block{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    &__input{
        flex-basis: 96.9%;
        height: 13.7px;
    }
}