.body--theme{
    background-color: $bgc--primary;
    color: $text-color--primary-dark;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.wrapper--theme{
    margin: 0 auto;
    padding: 0 3px 10px 3px;
    background-color: $bgc--primary;
    border: 1px solid $interface-color--secondary-light;
}