@import "body-theme.scss";
.body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    min-height: 100vh;
    height: 100vh;
    min-width: 100%;
    box-sizing: border-box;
    font-size: 12px;
}
.wrapper{
    width: 70%;
    min-width: 1346px;
    height: 60%;
    min-height: 620px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}